@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Merriweather:ital@1&family=Montserrat:ital,wght@1,600&family=Poppins:wght@500&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: font-family: 'Montserrat', sans-serif;

}
/* ==================
===============common css=============== */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}
.primary-button{
    outline: 0;
    border: 10px;
    border-radius: 40px;
    padding: 10px 30px;
    background-image: linear-gradient(90deg,#FF008E,#db2b8c);
    color: white;
    font-size: 15px;
}
.section-title{
    text-align: center;
}
.section-title h2{
     font-size: 30px;
     border-bottom: 2px solid white;
     margin: 100px 0;
     display: inline-block;

}
header{
    background-color: rgb(255, 255, 255);
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 20px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    padding: 13px 0;
    font-weight: 700;
}
.banner{
    height: calc(100vh -80px);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}.banner-left h1{
    font-size: 45px;
}
.banner-left p{
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-right img{
    width: 70%;
}

/* main styles */
.product{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    max-width: 1200px;
}
.fas{
    color: rgb(201, 172, 7);
    font-size: 10px;
}
.item{
    padding: 50px 50px;
    background-color: rgb(248, 241, 241);
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 10px;
} 
.item-author{
    font-size: 15px;
    color: gray;
}
.item p{
    color: gray;
}
